<div class="container pt-5">
    <h2 class="text-center my-4">Todo Listing</h2>
    <form class="example-form mb-1 bg-light p-3 rounded shadow">
        <mat-form-field class="example-full-width">
            <mat-label>Add what todo</mat-label>
            <input matInput placeholder="Enter Todo" type="text" id="todo" name="todo" #todo>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Add Date</mat-label>
            <!-- <input matInput placeholder="Enter date" type="date" id="date" name="date" #date> -->
  <input matInput [matDatepicker]="picker" id="date" name="date" #date>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <!-- <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->

        <mat-form-field class="example-full-width">
            <mat-label>Add Time</mat-label>
            <input matInput placeholder="Enter Time" type="time" id="time" name="time" #time>
        </mat-form-field>

        <button mat-flat-button color="basic" class="px-5" (click)="handleAddToList()">Add To List</button>
    </form>

    <div class="alert-info mt-5" *ngIf="!todoList.length">
        <p>No Item List Available<br/>Add your Items and corresponding date and time</p>
    </div>
    <!-- table -->
    <div class="mt-5" *ngIf="todoList.length">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Todo</th>
                    <th scope="col">Date</th>
                    <th scope="col" colspan="2">time</th>
                </tr>
            </thead>
            <tbody>
                <tr [ngClass]="{done: item.isDone}" *ngFor="let item of todoList">
                    <th scope="row">{{item.todo}}</th>
                    <td>{{item.date}}</td>
                    <td>{{item.time}}</td>
                    <td>
                        <div class="d-flex justify-content-around">
                            <span class="material-icons cursor-pointer text-success mr-2" (click)="handleIsDone(item.id)" *ngIf="item.isDone === false">
                            done
                            </span>

                              <span class="material-icons cursor-pointer text-danger" (click)="handleRemove(item.id)" aria-label="Example icon button with a delete icon">
                                delete
                            </span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <button mat-flat-button color="warn" (click)="handleClearAll()">Clear All</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>