.example-container {
    width: 100%;
    height: 100%;
}

.nav-item {
    &:hover {
        .nav-link::after {
            content: "";
            display: block;
            height: 2px;
            transform: scaleX(1);
            background-color: rgba(0, 0, 0, .87);
            transition: all 300ms ease-in-out;
        }
    }
}

.nav-link {
    color: rgba(0, 0, 0, .87);
    &.active {
        &::after {
            transform: scaleX(1);
        }
    }
    &::after {
        content: "";
        display: block;
        height: 2px;
        transform: scaleX(0);
        --moz-transform: scaleX(0);
        --ms-transform: scaleX(0);
        --o-transform: scaleX(0);
        background-color: rgba(0, 0, 0, .87);
        transition: all 300ms ease-in-out;
    }
}