<div class="container pt-5">
    <h2 class="text-center my-4">Price Listing</h2>
    <form class="example-form mb-1 bg-light p-3 rounded shadow">
        <mat-form-field class="example-full-width">
            <mat-label>Item</mat-label>
            <input matInput placeholder="Enter Item Name" type="text" id="textItem" name="textItem" #item>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Enter Item price" type="number" id="testPrice" name="testPrice" #price>
        </mat-form-field>

        <button mat-flat-button color="basic" class="px-5" (click)="handleAddToList()">Add To List</button>
    </form>

    <div class="alert-info mt-5" *ngIf="!dataSource.length">
        <p>No Item List Available<br/>Add your Items and corresponding prices</p>
    </div>
    <!-- table -->
    <div class="mt-5" *ngIf="dataSource.length">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col" colspan="2">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataSource">
                    <th scope="row">{{item.item}}</th>
                    <td>{{item.price}}</td>
                    <td>
                        <div class="d-flex justify-content-end">
                              <span class="material-icons cursor-pointer text-danger" (click)="handleRemove(item.id)" aria-label="Example icon button with a delete icon">
                                delete
                            </span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="mt-2">
            <p>
                <span *ngIf="dollar">
                    <strong>Total:</strong>&nbsp;<span class="d-2">{{totalAmount * 399 | currency}}</span>
                </span>
                <span *ngIf="!dollar">
                    <strong>Total:</strong>&nbsp;<span class="d-2">{{totalAmount | currency: '₦'}}</span>
                </span>
            </p>
            <button mat-flat-button color="basic" class="btn-sm" (click)="handleDollar()" *ngIf="dollar">naira</button>
            <button mat-flat-button color="basic" class="btn-sm" (click)="handleDollar()" *ngIf="!dollar">dollar</button>
        </div>
    </div>
</div>