<div class="container pt-5">
    <form class="example-form mb-1">
        <mat-form-field class="example-full-width">
            <mat-label>Item</mat-label>
            <input matInput placeholder="Enter Item Name" type="text" id="textItem" name="textItem" #item>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Price</mat-label>
            <input matInput placeholder="Enter Item price" type="number" id="testPrice" name="testPrice" #price>
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="handleAddToList()">Add To List</button>
    </form>

    <div class="alert-info mt-5" *ngIf="!dataSource.length">
        <p>No Item List Available<br/>Add your Items and corresponding prices</p>
    </div>
    <!-- table -->
    <div class="mt-5" *ngIf="dataSource.length">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col" colspan="2">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataSource">
                    <th scope="row">{{item.item}}</th>
                    <td>{{item.price}}</td>
                    <td><button (click)="handleRemove(item.id)" mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
                        <mat-icon>delete</mat-icon>
                      </button></td>
                </tr>
            </tbody>
        </table>

        <div class="mt-2">
            <p>
                <strong>Total:</strong>&nbsp;<span>{{totalAmount}}</span>
            </p>
        </div>
    </div>
</div>